.section1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.col-lg-4 {
  text-align: center;
  padding: .2rem;
  box-sizing: border-box;
}
.section-block1 {
  background-image: url(./img/product_block_1.jpg);
  height: 245px;
  max-width: 100%;
  background-position: 70%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.section-block2 {
  background-image: url(./img/product_block_2.jpg);
  height: 245px;
  max-width: 100%;
  background-position: 70%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.section-block3 {
  background-image: url(./img/product_block_3.jpg);
  height: 245px;
  max-width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.section-block1,.section-block2,.section-block3{
    margin-top:2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-btn{
    background-color: black;
    border: none;
    color: rgb(228, 220, 220);
    height: 2.5rem ;
    font-weight: 700;
    width: 40%; 
    font-size: 1em;
    transition: all 400ms ease-in-out;
    position: absolute;
    opacity: 0;
    bottom:40%;
}
.block:hover .view-btn{
    opacity: 1;
    position: absolute;
    bottom:45%;
}
.block{
    padding:1rem;
}
/* .block::after,.block::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.block:hover::after,.block:hover::before {
    width: 100%;
} */
/*----- button 4 -----*/
.block::before, .block::after{
    content:"";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: rgb(14, 13, 13);
  }
  
  span::before, span::after{
    content:"";
    width:1px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: rgb(14, 13, 13);
  }
.block::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  .block span::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  .block::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }
  .block span::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }
  .block:hover::before, .block:hover::after{
    width: 100%;
  }
  .block:hover span::before, .block:hover span::after{
    height: 100%;
  }
  