#footer {
  background-color: black;
  margin: 3rem auto 0 auto;
  padding: 1rem;
  width: 100%;
}
.items-footer>h3{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.items-footer>p{
    color: rgb(223, 221, 221);
    font-weight: lighter;
    font-size: 14px;
}
.items-footer>ul>li{
    padding: 0.5rem;
    color: rgb(224, 222, 222);
    font-weight: lighter;
    font-size: 14px;
}
#social {
  width: 50%;
  float: left;
}
.items-footer {
  text-align: left;
  padding: 1rem;
  box-sizing: border-box;
}
