#hompage {
  text-align: center;
}
.section1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
button {
  outline: none;
}
.col-lg-4 {
  text-align: center;
  padding: 0.2rem;
  box-sizing: border-box;
}
.section-block1 {
  background-image: url(./img/product_block_1.jpg);
  height: 245px;
  max-width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.section-block2 {
  background-image: url(./img/product_block_2.jpg);
  height: 245px;
  max-width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.section-block3 {
  background-image: url(./img/product_block_3.jpg);
  height: 245px;
  max-width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.section-block1,
.section-block2,
.section-block3 {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-btn {
  background-color: black;
  border: none;
  color: rgb(228, 220, 220);
  height: 2.5rem;
  font-weight: 700;
  width: 40%;
  font-size: 1em;
  transition: all 400ms ease-in-out;
  position: absolute;
  opacity: 0;
  bottom: 40%;
}
@media screen and (max-width: 1078px) {
  .view-btn {
    width: 45%;
  }
}
/* hover animation border */
.block:hover .view-btn {
  opacity: 1;
  bottom: 45%;
}
.block {
  padding: 1rem;
}
.block::before,
.block::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(14, 13, 13);
}

span::before,
span::after {
  content: "";
  width: 1px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(14, 13, 13);
}
.block::after {
  right: 0;
  bottom: 7px;
  transition-duration: 0.4s;
}
.block span::after {
  right: 7px;
  bottom: 0;
  transition-duration: 0.4s;
}
.block::before {
  left: 0;
  top: 7px;
  transition-duration: 0.4s;
}
.block span::before {
  left: 7px;
  top: 0;
  transition-duration: 0.4s;
}
.block:hover::before,
.block:hover::after {
  width: 100%;
}
.block:hover span::before,
.block:hover span::after {
  height: 100%;
}
/* end */
/* section 2 */
.category {
  display: flex;
  justify-content: center;
  margin: 3rem;
  border-bottom: 2px solid black;
}
input[type="radio"] {
  display: none;
}
.btn-category {
  background-color: white;
  border: none;
  color: rgb(167, 165, 165);
  height: 2.7rem;
  font-weight: 700;
  width: 20%;
  font-size: 1em;
  padding: 0.1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .btn-category {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .btn-category {
    width: 50%;
    font-size: 0.8em;
  }
  .category {
    width: 95%;
    margin: 0 auto;
  }
}
#visited {
  background-color: black;
  color: rgb(231, 227, 227);
}
input[type="radio"]:checked + label {
  background-color: black;
  color: rgb(231, 227, 227);
  outline: none;
}
/* css sanphammoi-phobien */
.sanphammoi {
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
  position: relative;
}
.sanphammoi > div {
  border: 1px solid rgb(211, 210, 210);
}
.item-sanphammoi {
  width: 100%;
  padding: 0.5rem;
}
.name {
  font-size: 0.9rem;
  color: #10151b;
  font-weight: lighter;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden !important;
  height: 1rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.gia,
strike {
  color: rgb(214, 59, 59);
  font-size: 0.9rem;
  padding: 0.1rem;
  box-sizing: border-box;
}
.addcart > button {
  width: 100%;
  border: 0;
  background-color: black;
  color: #e7dfdf;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-top: 0.3rem;
}

/* button section them phu kien */
.phukien {
  padding: 2rem 1rem 3rem 1rem;
  text-align: center;
  box-sizing: border-box;
}
.phukien > div {
  border: 1px solid rgb(211, 210, 210);
}

/* css section-phu kien */
.img-phukien {
  width: 100%;
}
.section-phukien {
  width: 90%;
  margin: 3rem auto 0 auto;
}
.title-phukien {
  background-color: white;
  border: none;
  color: black;
  height: 2.7rem;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 0.1rem;
}
.section3 {
  text-align: center;
  border-bottom: 2px solid black;
  width: 95%;
  margin: 1rem auto;
}
.btn-viewall {
  background-color: #ffffff05;
  border: 2px solid rgb(168, 166, 166);
  color: rgb(143, 140, 140);
  font-weight: bold;
  transition-duration: 500ms;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 3rem;
}
.btn-viewall:hover {
  border: 2px solid black;
  background-color: black;
  color: rgb(252, 252, 252);
}
/* END */
/* CSS PHÂN BANNER-SALE */
.banner-sale {
  background-image: url(./img/sanphammoi/banner-1.jpg);
  height: 500px;
  background-position: 85%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  width: 95%;
  margin: 3rem auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale > h5 {
  color: white;
  font-weight: bolder;
  letter-spacing: 5px;
  margin: 1rem;
}
/* item giam gia */
.badge-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(223, 6, 6);
  line-height: 0.85;
  color: #fff;
  font-weight: bolder;
  padding: 2px;
  white-space: nowrap;
  border-radius: 999px;
  /* transition: background-color .3s, color .3s, border .3s; */
}
.callout {
  display: table;
  z-index: 20;
  pointer-events: none;
  height: 3.8em;
  width: 2.8em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 999px;
  background-color: rgb(223, 6, 6);
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 30px 0 0 0;
}
